html, body {
    display: border-box;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.bg-container {
    background-image: url("http://media.wizards.com/2014/images/dnd/articles/TOD_Tiamat_m5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    border: 5px solid #9B2818;
    opacity: 0.9;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    text-shadow: 2px 2px white;
    outline: 5pt black;
    color: #9B2818;
    font-size: 5vmax;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%) scale(1);    
}

#main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

button {
    width: fit-content;
    font-size: 36pt;
}

button.reset {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 36pt;
    font-weight: bold;
    align-items: right;
    float: right;
    margin-top: -0.2em;
}

#crSelector-container {
    position: absolute;
    align-items: center;
    font-size: 18pt;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -0%) scale(1);  
}

#crSelector-container label{
    font-style: italic;
    cursor: text;
    color: white;
}

#crSelector-container select {
    font-size: 18px;
    margin-top: 2px;
    padding: 0.5em;
    width: 250px;
    text-align: center;
}

div.hidden {
    transform: scale(0);
}

div.unhidden {
    align-items: center;
    display: inline-block;
    justify-content: space-around;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border: 1px solid #9B2818;
    border-radius: 10px;
    max-width: 90%;
    width: fit-content;
    height: fit-content;
    background-color: white;
}


#monster-list-container h3 {
    font-size: 10px;
    font-size: 2vmax;
    padding-right: 1em;
    padding-left: 1em;
    color: #9B2818;
    display: inline-flexbox;
    margin-inline-end: 3em;
    align-items: center;
    justify-content: space-between;
}

#monster-list-container form {
    display: inline-flexbox;
    margin: 1em;
    border: 1px solid #9B2818;
    border-radius: 10px;
    background-color: #F7F1D5;
    padding: 1em;
    column-count: 2;
    column-width: fit-content;
}

#showStats {
    align-items: right;
    justify-content: space-around;
    font-size: 1vmax;
    margin-left: 1.2em;
}

#monster-list-container label {
    font-size: 1vmax;
    margin-inline-end: 1em;
    margin-inline-start: 1em;
    flex-wrap: none;
    width: 100%
}

*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #9B2818;
    border-radius: 10px;
    z-index: 10;
    background-color: #F7F1D5;
    min-width: 50%;
    max-width: 90%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 36pt;
    font-weight: bold;
    align-items: right;
    float: right;
}

#modal {
    min-width: fit-content;
}

.monster-card {
    display: block;
    min-width: fit-content;
    box-sizing: border-box;
    max-width: fit-content;
}

.stats-base {
    font-size: 34pt;
}

.statName {
    font-size: 2vmax;
    font-weight: 700;
    font-family: Arial;
    color: #9B2818;
    margin-left: 0.3em;
}

.type-label p {
    font-style: italic;
    padding: 0.8em;
    font-size: 1vmax;
    border-bottom: #9B2818 solid;
}

.attr-label {
    font-size: 1vmax;
    font-weight: bold;
    padding-left: 0.8em;
    color: #9B2818;
}

.attr-data {
    padding: 2px;
}

.attr-value {
    padding: 3px;
    font-size: 1vmax;
}

.attr-extra {
    padding: 3px;
    font-size: 1vmax;
}

.abilities {
    display: flex;
    border-top: #9B2818 solid;
}

.ability-block {
    display: block;
    padding-left: 0.4em;
}

.ability-label {
    color: #9B2818;
    font-weight: bold;
    align-items: center;
    font-size: 1vmax;
    padding: 1em;
}

.ability-value {
    align-items: center;
    font-size: 1vmax;
    display: grid;
    padding-left: 1.4em;
    padding-right: 1em;
}

.ability-extra {
    align-items: center;
    font-size: 1vmax;
    display: grid;
    padding-left: 1.1em;
    padding-right: 1em;
    padding-bottom: 0.8em;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

footer {
    margin-top: 100%;
    color: white;
}